@font-face {
  font-family: "Mattone";
  src: url("./../public/Mattone-150.woff2") format("woff2"),
       url("./../public/Mattone-150.woff") format("woff");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mattone";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
