@font-face {
  font-family: "Mattone";
  src: url("./../public/Mattone-150.woff2") format("woff2"),
       url("./../public/Mattone-150.woff") format("woff");
}

html,
body {
  margin: 0;
  font-family: "Mattone";
	background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@supports(padding:max(0px)) {
	body, header, footer {
			padding-left: min(0vmin, env(safe-area-inset-left));
			padding-right: min(0vmin, env(safe-area-inset-right));
	}
}

/* total width */
body::-webkit-scrollbar {
	background-color: #fff;
	width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
	background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
	background-color: #babac0;
	border-radius: 16px;
	border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
	display:none;
}
