.howto, .howtosupport {
	margin-top: 20px;
	margin-left: 20px;
	overflow: hidden;
	height: calc(100% - 260px);
}
.howtosupport {
	height: calc(100% - 350px);
}
.input {
	margin-top: 15px;
	position: relative;
}
.input input {
	background: #EEEEEE;
	border-radius: 10px;
	color: #000;
	font-size: 16px;
	padding-left: 35px;
	padding-right: 35px;
	height: 41px;
	line-height: 41px;
	border: none;
	outline: none;
	width: calc(100% - 20px);
	font-family: "DM Sans";
}
.search {
	position: absolute;
	top: 10px;
	left: 10px;
}
.clear {
	position: absolute;
	right: 25px;
	top: 6px;
}


/* Results */
.results, .resultssupport {
	margin-top: 20px;
	overflow: overlay;
	height: calc(100% - 120px);
	padding-bottom: 20px;
}
.results:after, .resultssupport:after {
	display: block;
	content: "";
	width: 100%;
	height: 120px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 70.83%);
}
.resultssupport {
	height: calc(100% - 110px);
}
.result {
	margin-bottom: 15px;
	display: block;
	text-decoration: none;
}
.result:hover {
	cursor: pointer;
}
.image {
	background-position: center;
  background-size: cover!important;
	width: 50px;
	height: 50px;
	border-radius: 10px;
	background: #D9D9D9;
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}
.info {
	display: inline-block;
	vertical-align: middle;
}
.name {
	font-family: "DM Sans";
	font-weight: 500;
	font-size: 16px;
}
.desc {
	font-family: "DM Sans";
	font-weight: 500;
	font-size: 14px;
	color: #979797;
	margin-top: 5px;
}

/* No results */
.noresult {
	display: block;
	text-align: center;
	margin-top: 20px;
	margin-left: -20px;
}
.no {
	font-family: "DM Sans";
	font-size: 16px;
	font-weight: 500;
	text-align: center;
}
.no2 {
	font-size: 14px;
	font-family: "DM Sans";
	font-weight: 500;
	margin-top: 5px;
	color: #979797;
	text-align: center;
}