.container {
	width: 100%;
	height: 100%;
	background: #FFF;
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
	left: 0px;
	right: 0px;
}
.splash {
	height: 100%;
	width: 100%;
}
.logo {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	font-size: 16px;
	margin-top: 15px;
	color: #000;
}
.logo img {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}
/* Responsive illustration */
.illustration {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: calc(100% - 40px);
	height: 50%;
	overflow: hidden;
	background: #CBE1F6;
	border-radius: 15px;
	position: relative;
}
.ground {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	min-width: 430px;
	margin: auto;
}
.trees {
	position: absolute;
	right: -40px;
	bottom: 80px;
	z-index: 1;
}
.trash {
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 9%;
	z-index: 2;
	margin: auto;
	transform: translateX(80px);
}
.person {
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	bottom: 4%;
	z-index: 3;
	width: 200px;
	transform: translateX(-20px);
}
.flower {
	left: 5%;
	bottom: 10%;
	position: absolute;
	z-index: 4;
}
.title {
	font-size: 20px;
	text-align: center;
	width: calc(100% - 40px);
	margin-top: 20px;
	line-height: 35px;
	margin-left: auto;
	margin-right: auto;
}
.subtitle {
	font-size: 14px;
	text-align: center;
	color: #8C8C8C;
	width: 80%;
	line-height: 25px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
.about {
	text-align: center;
	position: absolute;
	bottom: 25px;
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	left: 0px;
	right: 0px;
}
.about:hover {
	cursor: pointer;
}
.button {
	position: absolute;
	bottom: 60px;
	left: 0px;
	right: 0px;
	margin: auto;
	height: 50px;
	line-height: 50px;
	background: #74AD42;
	text-align: center;
	border-radius: 10px;
	font-size: 14px;
	color: #FFF;
	width: calc(100% - 40px);
	box-shadow: 0px 4px 16px rgba(154, 207, 117, 0.25);
}
.button:hover {
	cursor: pointer;
}
@media only screen and (max-width: 650px) {
	.trees {
		bottom: 50px;
	}
}
@media only screen and (max-width: 490px) {
  .trees {
		width: 250px;
		bottom: 30px;
  }
}
@media only screen and (max-width: 400px) {
	.trees {
		width: 200px;
		right: -10%;
	}
	.ground {
		left: -50px
	}
}
@media only screen and (max-height: 715px) {
	.person {
		width: 150px;
	}
	.trash {
		width: 70px;
	}
	.flower {
		width: 50px;
	}
}
@media only screen and (max-height: 688px) {
	.illustration {
		height: 42%;
	}
	.about {
		bottom: 20px;
	}
	.button {
		bottom: 50px;
	}
}
@media only screen and (max-height: 640px) {
	.illustration {
		height: 35%!important;
	}
	.person {
		width: 100px;
	}
	.trash {
		width: 40px;
		right: 50px;
	}
	.flower {
		width: 30px;
	}
	.trees {
		width: 150px;
		bottom: 50px;
	}
	.clouds {
		width: 170px;
	}
}
@media only screen and (min-width: 550px) {
	.container {
		transform: scale(.85);
		box-shadow: 0px 60px 140px rgba(31, 31, 31, 0.1);
		border-radius: 30px;
		overflow: hidden;
	}
}
@media only screen and (max-width: 380px) {
	.illustration {
		height: 42%;
	}
	.about {
		bottom: 15px;
	}
	.button {
		bottom: 50px;
	}
	.clouds {
		width: 150px;
	}
}
