.camera video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 1;
}

.takephoto {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 20px;
	margin: auto;
	background: transparent;
	border: none;
	width: min-content;
}
.takephoto:hover {
	opacity: .5;
	cursor: pointer;
}
.image {
	position: absolute;
	top: 350px;
	width: 200px!important; 
}