.title {
	text-align: center;
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	top: 20px;
	z-index: 9999999;
	color: #FFF;
}
.camera video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.overlay {
	background: linear-gradient(179.99deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.7) 83.17%), linear-gradient(179.95deg, rgba(0, 0, 0, 0.7) 0.04%, rgba(0, 0, 0, 0) 25.96%);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.takephoto {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 20px;
	margin: auto;
	background: transparent;
	border: none;
	width: min-content;
}
.takephoto:hover, .switchcamera:hover {
	opacity: .5;
	cursor: pointer;
}
.image {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	width: 100%;
	height: 100%;
}
.switchcamera {
	position: absolute;
	right: 20px;
	bottom: 30px;
	z-index: 9999999;
	background: none;
	border: none;
	width: min-content;
}